{% extends 'base.html.twig' %}

{% block title %}Edit Events!{% endblock %}

{% block body %}
<div class="container" style="text-align:centar;">
   <div>
    <h1 style="color: blueviolet; text-align: center;">Edit Events</h1>
    
    <div class="card" style="width: 100%; background:rgb(178, 224, 248)">
        
    {{ form(form) }}
    
    </div>
    <a href="/" class="btn btn-warning" style="width: 100%;">Back</a>
</div>

</div>
{% endblock %}